body{
    text-align: center;
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-image: url('/icons/b.png');
    background-size: cover;
}

.buttonList{
   width: 150px;
   height: 200px;
   position: relative;
}

.buttonWrapper{    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.buttonList button{
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
    background-color: rgba(236, 240, 241, 0.6);
    border: 1px solid #006400;
    width: 80%;
    margin: 5px;
    
}

.buttonList button :hover{
    background-color: rgba(52, 152, 219, 0.6);
}